<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand ml-5" href="#"
    ><input
      type="image"
      src="../../assets/logo@3x.jpg"
      srcset="img/logo@2x.jpg 2x,
            img/logo@3x.jpg 3x"
      class="logo"
  /></a>

  <button
    class="navbar-toggler navbar-dark "
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    style="background-color:#ffc410;"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"></li>

      <li class="nav-item ">
        <a class="nav-link routerLink px-3" [routerLink]="['/store']">
          <b>PLANS</b>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link  routerLink px-3" [routerLink]="['/about']">
          ABOUT US
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link  routerLink px-3" [routerLink]="['/blog']"> BLOG </a>
      </li>

      <li class="nav-item  ">
        <a
          class="nav-link  routerLink px-3"
          [routerLink]="['/']"
          [fragment]="'contacts'"
        >
          CONTACT US
        </a>
      </li>
    </ul>
  </div>
</nav>
<br />
<br />
<br />
