<!-- FOOTER -->
<div class="box">
  <img src="../../assets/footer.png" class="footerImage ">

  <div class="contactInfo">
    <br>
    <b>Sims 4 USA</b>
    <br>
    597 Empire Blvd
    <br>
    Brooklyn NY 11213
    <br>
    <br>
    <b>Call Us</b>
    <br>
    +1 (802) 870-6770
    <br>
    <br>
    <b>Email Us</b>
    <br>
    sales@sims4usa.com
  </div>

  <div class="quickLinks">
    <div class="title"><b>Quick Links</b></div>
    <br>
    Home
    <br>
    Plans
    <br>
    About Us
    <br>
    Contact Us
    <br>
    Blogs
    <br>
    Reviews
    <br>
  </div>

  <div class="followUs">
    <div class="title"><b>Follow Us</b></div>

    <div class="container">
      <div class="row">
        <div class="col">
          <img src="../../assets/youTube.png" class="youtube ">
          <img src="../../assets/facebook.png" class="facebook">
          <img src="../../assets/instegram.png" class="instegram">
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="title"><b>Secure Payment</b></div>

  </div>
</div>


<br>
<footer class="footer">
  <img src="../../../assets/grayLogo.png" class="grayLogo">
  <p>&copy; 2018 Sims 4 Usa Company, Inc &middot; </p>
  <p class="float-left">
    <a href="#">Back to top</a>
  </p>
</footer>

<!--  -->
