<!-- FOOTER -->
<footer class="footer px-4">

  <div class="container">
    <img  src="../../../assets/grayLogo.png" class="grayLogo">
    <div class="contactInfo">
      <b>Sims 4 USA</b>
      <br>
      597 Empire Blvd
      <br>
      Brooklyn NY 11213
      <br>
      <b>Call Us</b>
      <br>
      +1 (802) 870-6770
      <b>Email Us</b>
      <br>
      sales@sims4usa.com
    </div>
  </div>
  
  <div>
    <input type="image" src="../../assets/footer.png" class="footerImage">
  </div>
  <br>



  <p>&copy; 2018 Sims 4 Usa Company, Inc &middot; </p>
  <p class="float-left">
    <a href="#">Back to top</a>
  </p>
</footer>

<!--  -->
