<div id="demo" class="carousel slide  " data-ride="carousel">

  <!-- The slideshow -->
  <div class="carousel-inner ">
    <div class="carousel-item active  ">

      <img src="../../../assets/blueIphoneSim.jpg" class="bridge mh-100 mw-80">
      <div class="carousel-caption Sim-card-for-USA text-left">
        <p>Sim card for USA</p>
      </div>
      <br>
      <div class=" carousel-caption You-will-get-the-sim text-left">
        <p>Worldwide shippingwithin 3 business days</p>
      </div>
      <a class="carousel-caption Rectangle-6-Copy-2 " href="#buy-now">

        <input type="image" src="../../../assets/buy-now@3x.png" srcset="../../../assets/buy-now@2x.png 2x,
                        ../../../assets/buy-now@3x.png 3x" class="Rectangle-6-Copy-2 img-responsive text-left"
          style="height: 32px; width:120px">

      </a>

    </div>

    <br>
    <br>


  </div>
  <div class="container">

    <input type="image" src="../../../assets/companiesNames.jpg" class="" style="height: 350x; width:100%">
  </div>

  <br>
  <br>
  <div class="container">

    <input type="image" src="../../../assets/mainAirPlane.jpg" class="" style="height: 350x; width:100%">
  </div>


  <div class="container">
    <div class="row justify-content-around text-center">

      <!-- <section> -->

      <div class="container-fluid" id="buy-now">
        <br>
        <div class="container">
          <div class="row">
            <div class="">

              <input type="image" src="../../../assets/yelloSim.png" class="yelloSim">
            </div>
            <div class="col-sm-4">
              <div class="card mb-5 text-center">
                <div class="title">
                  <br>
                  <img class="img-thumbnail  plans-image " src="../../../assets/paperPlane.png">
                  <br>
                  <h1>Basic Plan</h1>
                </div>
                <div class="price">
                  <h3>
                    <sup>$</sup>44.99</h3>
                </div>
                <div class="option">
                  <ul>
                    <li>
                      For 1 week - 7 days</li>
                    <li>
                      Unlimited calls in US</li>
                    <li>
                      Unlimited sms in US</li>
                    <li>
                      Unlimited 4G LTE </li>
                    <li>
                      Unlimited hot-spot</li>

                  </ul>
                </div>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U6YV6GH3F96Q6">Order
                  now</a>
                <!-- TEST ONLY <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VU3MFB3QLXJGU">Order now</a> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card mb-5 text-center">
                <div class="title">
                  <!-- <i class="fas fa-plane"></i> -->
                  <br>
                  <img class="img-thumbnail img-fluid  plans-image" src="../../../assets/proPlan.png">
                  <h1>Pro Plan</h1>
                </div>

                <div class="price">

                  <h3>
                    <sup>$</sup>84.99</h3>

                </div>
                <div class="option">
                  <ul>

                    <li>
                      Unlimited calls in US</li>
                    <li>
                      Unlimited sms in US</li>
                    <li>
                      Unlimited 4G LTE </li>
                    <li>
                      Unlimited hot spot </li>
                    <li>
                      Fast shipping</li>

                  </ul>
                </div>

                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=T7ZMX9GPLBL9W">Order
                  now</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card mb-5 text-center">
                <div class="title">
                  <br>
                  <!-- <i class="fas fa-rocket"></i> -->
                  <img class="img-thumbnail plans-image " src="../../../assets/rocket.png">
                  <h1>Premium Plan</h1>
                </div>
                <div class="price">
                  <h3>
                    <sup>$</sup>114.99</h3>
                </div>
                <div class="option">
                  <ul>
                    <li>
                      Unlimited calls in US</li>
                    <li>
                      Unlimited sms in US</li>
                    <li>
                      Unlimited 4G LTE </li>
                    <li>
                      15GB LTE hot-spot</li>
                  </ul>
                </div>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=49U339MG7BDGS">Order
                  now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <input type="image" src="../../../assets/videoSpace.png" class="videoSpace" style="height: 350x; width:100%">
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- START THE FEATURETTES -->

    <br>
    <br>
    <div class="parent-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="pb-3 align-left mbr-fonts-style  contactUs">
              Contact Us
            </h3>
            <div>
              <div class="icon-block pb-3">
                <span class="text-1">
                  Feel free to drop us a line or give us a call with any enquiries you may have.
                </span>
                <br>
                <span class="text-2 ">
                    We’d love to hear from you!
                  </span>
              </div>
<br><br>
            </div>
            <div data-form-type="formoid">
              <div data-form-alert="" hidden="">
                Thanks for filling out the form!
              </div>
              <form class="block mbr-form" data-form-title="Mobirise Form">
                <input type="hidden" data-form-email="true">
                <div class="row">
                  <div class="col-md-6  mb-2" data-for="name">
                    <input type="text" class="form-control input formBorder" name="name" data-form-field="Name"
                      placeholder="Your Name" required="" id="name-form4-4v" [(ngModel)]="email.fullName" name="name">
                  </div>
                  <div class="col-md-6  mb-2" data-for="phone">
                    <input type="text" class="form-control input formBorder" name="phone" data-form-field="Phone"
                      placeholder="Phone" required="" id="phone-form4-4v" [(ngModel)]="email.phone" name="phone">
                  </div>
                  <div class="col-md-12 mb-3" data-for="email">
                    <input type="text" class="form-control input formBorder" name="email" data-form-field="Email"
                      placeholder="Email" required="" id="email-form4-4v" [(ngModel)]="email.emailAddress"
                      name="emailAddress">
                  </div>

                  <div class="col-md-12 mb-2" data-for="message">
                    <textarea class="form-control input formBorder" name="message" rows="3" data-form-field="Message"
                      placeholder="Message" style="resize:none" id="message-form4-4v" [(ngModel)]="email.message"
                      name="message"></textarea>
                  </div>
                  <div class="input-group-btn col-md-12 mb-2 px-4" style="margin-top: 10px;">
                    <button href="" type="submit" class="btn btn-warning  btn-contact" (click)="sendEmail()">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="contactLinks">


              <input type="image" src="../../../assets/grayLogo.png" class="grayLogo">
              <br>
              <br>
              <button class="col callPhone">Call Phone</button>
              <br><br>
              <button class="col phoneNumber"><a href="tel:18028706770"></a>+1 (802) 870-6770</button>
              <br><br>
              <button class="col sendEmail">Send Email</button>
              <br><br>
              <button class="col emailAddress"><a href="mailto:sales@sims4usa.com"></a>sales@sims4usa.com</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
