.infoBox1{
	background-color: wheat;
	border:10px solid rgba(62, 56, 138, 0.733);
}

.infoBox2{
	background-color: wheat;
	border:10px solid rgba(62, 56, 138, 0.733);
}
.infoBox3{
	background-color: wheat;
	border:10px solid rgba(62, 56, 138, 0.733);
}
/* 
.MainOptions{
    border:10px solid #ee3e64;
}  */

.img-class{
	height:250px;
    width:100%;
}