/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400'); */


/* .infoBox1{
	background-color: wheat;
	border:10px solid rgba(62, 56, 138, 0.733);
}

.infoBox2{
	background-color: wheat;
	border:10px solid rgba(62, 56, 138, 0.733);
}
.infoBox3{
	background-color: wheat;
	border:10px solid rgba(62, 56, 138, 0.733);
} */
/* 
.MainOptions{
    border:10px solid #ee3e64;
}  */

.img-class{
	height:250px;
    width:100%;
}

/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700'); */
body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.row {
  min-height: 35vh;
}

.card {
  border: 0;
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  padding: 2.25rem 0;
  position: relative;
  will-change: transform;
}
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #57e2b2;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}
.card:hover:after {
  width: 100%;
}
.card .card-header {
  background-color: white;
  padding-left: 2rem;
  border-bottom: 0px;
}
.card .card-title {
  margin-bottom: 1rem;
}
.card .card-block {
  padding-top: 0;
}
.card .list-group-item {
  border: 0px;
  padding: 0.25rem;
  color: #808080;
  font-weight: 300;
}

.display-2 {
  font-size: 7rem;
  letter-spacing: -0.5rem;
}
.display-2 .currency {
  font-size: 2.75rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}
.display-2 .period {
  font-size: 1rem;
  color: #b3b3b3;
  letter-spacing: 0px;
}

.btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  color: #a6a6a6;
  border-radius: 0;
  padding: 0.75rem 1.25rem;
  letter-spacing: 1px;
} 

.btn-gradient {
  background-color: #f2f2f2;
  transition: background 0.3s ease-in-out;
}
.btn-gradient:hover {
  color: white;
  background-color: #57e2b2;
}









/*  */

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    background: black;
}
section{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 140px 0;

}
.card{
    position: relative;
    max-width: 300px;
    height: auto;
    border-radius: 40px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: inset 0 0 40px rgba(0,0,0,.2), 0 20px 50px rgba(0,0,0,.5);
    transition: .5s;
    overflow: hidden;
}
.card:hover{
    transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa-telegram-plane{
    background: linear-gradient(-45deg,#f403d1,#64b5f6);
}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fas{
    background: linear-gradient(-45deg,#ffec61,#f321d7);
}
.col-sm-4:nth-child(3) .card{
    background: linear-gradient(-45deg,#24ff72,#9a4eff);
}
.card:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255,255,255,.1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
}
.title .fa-telegram-plane{
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
.title .fas{
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
.title h2{
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
    z-index: 2;
}
.price{
    position: relative;
    z-index: 2;
}
.price h3{
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 60px;
}
.option{
    position: relative;
    z-index: 2;
}
.option ul{
    margin: 0;
    padding: 0;
}
.option ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
}
.card a{
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
.cord a:hover{
    text-decoration: none;

}