
<br>
<br>
<br>
<br>

<div class="container">
    
<div class="row justify-content-around text-center">
    <!-- <h1> <span class="badge badge-secondary text-center"  data-container="body" data-toggle="popover" data-placement="top" 
      data-content=" The purchased credit is used to pay for telecommunications services at the point the service is accessed or consumed." 
      >Prepaid</span></h1> -->
    
  <div class="card-deck mb-3 text-center">
      
      
     
<!-- Table #1  -->
<br>
<br>

                
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card mb-5 text-center">
                    <div class="title">
                        <i class="fab fa-telegram-plane"></i>
                        <h2>Basic</h2>
                    </div>
                    <div class="price">
                      <h3> <sup>$</sup>44.99</h3>
                    </div>
                    <div class="option">
                        <ul>
                            <li><i class="fas fa-check"></i> For 1 week - <b>7 days</b></li>
                            <li><i class="fas fa-check"></i> Unlimited calls in US</li>
                            <li><i class="fas fa-check"></i> Unlimited sms in US</li>
                            <li><i class="fas fa-check"></i> Unlimited 4G LTE </li>
                          <li><i class="fas fa-check"></i>  Unlimited hot-spot</li>
                          
                        </ul>
                    </div>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U6YV6GH3F96Q6">Choose Plan</a> 
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-5 text-center">
                    <div class="title">
                        <i class="fas fa-plane"></i>
                        <h2>Pro</h2>
                    </div>
                    
                    <div class="price">
                      
                        <h3> <sup>$</sup>84.99</h3>
                      
                    </div>
                    <div class="option">
                        <ul>
                            
                            <li><i class="fas fa-check"></i> Unlimited calls in US</li>
                            <li><i class="fas fa-check"></i> Unlimited sms in US</li>
                            <li><i class="fas fa-check"></i> Unlimited 4G LTE </li>
                            <li><i class="fas fa-check"></i>Unlimited hot spot (3g network) </li>
                            <li><i class="fas fa-check"></i> Fast shipping</li>
                    
                        </ul>
                    </div>
                   
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=T7ZMX9GPLBL9W">Choose Plan</a>
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-5 text-center">
                    <div class="title">
                        <i class="fas fa-rocket"></i>
                        <h2>Ultimate</h2>
                    </div>
                    <div class="price">
                        <h3> <sup>$</sup>114.99</h3>
                    </div>
                    <div class="option">
                        <ul>
                            <li><i class="fas fa-check"></i> Unlimited calls in US</li>
                            <li><i class="fas fa-check"></i> Unlimited sms in US</li>
                            <li><i class="fas fa-check"></i> Unlimited 4G LTE </li>
                            <li><i class="fas fa-check"></i> 15GB LTE hot-spot</li>
                        </ul>
                    </div>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=49U339MG7BDGS">Choose Plan</a>
                </div>
            </div>
        </div>
    </div>

</div>



<br>
<br>
<br>
<br>
<br>
<br>


<br>
<br>

                
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card mb-5 text-center">
                    <div class="title">
                        <!-- <i class="fab fa-bolt"></i> -->
                        
                    </div>
                    <div class="price">
                        <h3>At&t</h3>
                      <h3> <sup>$</sup>69.99</h3>
                    </div>
                    <div class="option">
                        <ul>
                            <li><i class="fas fa-check"></i> For <b>15</b> days</li>
                            <li><i class="fas fa-check"></i> Unlimited calls in US</li>
                            <li><i class="fas fa-check"></i> Unlimited sms in US</li>
                            <li><i class="fas fa-check"></i> Unlimited 4G LTE </li>
                          <li><i class="fas fa-check"></i>  15GB LTE hot-spot</li>
                          
                        </ul>
                    </div>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5C4WFZ6NWN9VL">Choose Plan</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-5 text-center">
                    <div class="title">
                        <!-- <i class="fas fa-plane"></i> -->
                        
                    </div>
                    
                    <div class="price">
                        <h3>H2o</h3>
                        <h3> <sup>$</sup>54.99</h3>
                      
                    </div>
                    <div class="option">
                        <ul>
                            
                            <li><i class="fas fa-check"></i> Unlimited calls in US</li>
                            <li><i class="fas fa-check"></i> Unlimited sms in US</li>
                            <li><i class="fas fa-check"></i> 4GB LTE (and then 2/3g)</li>
                            <li><i class="fas fa-check"></i>Calls to 10 destination mobile/home around the world </li>
                           
                    
                        </ul>
                    </div>
                   
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6EUPVGWCED8VC">Choose Plan</a>
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-5 text-center">
                    <div class="title">
                        <h2>Simple mobile</h2>
                       
                    </div>
                    <div class="price">
                        
                        <h3> <sup>$</sup>94.99</h3>
                    </div>
                    <div class="option">
                        <ul>
                            <li><i class="fas fa-check"></i> Unlimited calls in US</li>
                            <li><i class="fas fa-check"></i> Unlimited sms in US</li>
                            <li><i class="fas fa-check"></i> Unlimited 4G LTE </li>
                            <li><i class="fas fa-check"></i> 10GB 4G LTE hot spot</li>
                            <li><i class="fas fa-check"></i> Calls to a 15 destination home/mobile around the world </li>
                        </ul>
                    </div>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KZMMZ7M4JDXFA">Choose Plan</a>
                </div>
            </div>
        </div>
    </div>

</div>



































<!-- 
<div class="col-xs-12 col-lg-4">  
    <div class="card" style="width: 20rem;">
    
    <img class="card-img-top img-fluid mx-auto" src="../../../assets/attlogo.png"  alt="Card image cap" style="height:70%; width:70%">
  <div class="card-header">
    <h3 class="display-2"><span class="currency">$</span>50<span class="period">/month</span></h3>
  </div>
  <div class="card-block">
    <h4 class="card-title"> 
      Basic Plan
    </h4>
    <ul class="list-group">
      <li class="list-group-item">Unlimited calls and SMS in USA</li>
      <li class="list-group-item">8 GB LTE</li>
    
    </ul>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZHQSKNVN38E3S" class="btn btn-gradient mt-2">Choose Plan</a>
  </div>
</div>
</div> -->

<!-- Table #2  -
<div class="col-xs-12 col-lg-4">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top img-fluid mx-auto" src="../../../assets/nexus2cee_t-mobile-logo.png" alt="Card image cap" style="height:60%; width:60%">
  <div class="card-header">
    <h3 class="display-2"><span class="currency">$</span>50<span class="period">/month</span></h3>
  </div>
  <div class="card-block">
    <h4 class="card-title"> 
      Regular Plan
    </h4>
    <ul class="list-group">
      <li class="list-group-item">Unlimited calls and SMS in USA</li>
      <li class="list-group-item">Calls worldwide</li>
      <!-- <li class="list-group-item">Visual Composer Included</li> -
      <li class="list-group-item">10 GB LTE</li>
    </ul>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FYFC2JNXHULJJ" class="btn btn-gradient mt-2">Choose Plan</a>
  </div>
</div>
</div>

<!-- Table #3  >
<div class="col-xs-12 col-lg-4">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top img-fluid mx-auto" src="../../../assets/attlogo.png"  alt="Card image cap" style="height:70%; width:70%">
  <div class="card-header">
    <h3 class="display-2"><span class="currency">$</span>17<span class="period">/month</span></h3>
  </div>
  <div class="card-block">
    <h4 class="card-title"> 
      Premium Plan
    </h4>
    <ul class="list-group">
      <li class="list-group-item">Unlimited calls and SMS in USA</li>
      <li class="list-group-item">1 GB LTE</li>
    </ul>
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=T7ZMX9GPLBL9W" class="btn btn-gradient mt-2">Choose Plan</a>
  </div>
</div>
</div>


</div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-around text-center">
      
        <h1>  <span class="badge badge-secondary text-center">Preloaded</span></h1>
        <div class="card-deck mb-3 text-center">
<div class="col-xs-12 col-lg-4">  
  <div class="card" style="width: 20rem;">
  
  <img class="card-img-top img-fluid mx-auto" src="../../../assets/attlogo.png"  alt="Card image cap" style="height:70%; width:70%">
<div class="card-header">
  <h3 class="display-2"><span class="currency">$</span>23<span class="period">/month</span></h3>
</div>
<div class="card-block">
  <h4 class="card-title"> 
    Basic Plan
  </h4>
  <ul class="list-group">
    <li class="list-group-item">Unlimited calls and SMS in USA</li>
    <li class="list-group-item">1 GB LTE</li>
  
  </ul>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FYFC2JNXHULJJ" class="btn btn-gradient mt-2">Choose Plan</a>
</div>
</div>
</div>

<!-- Table #2  >
<div class="col-xs-12 col-lg-4">
  <div class="card" style="width: 20rem;">
  <img class="card-img-top img-fluid mx-auto" src="../../../assets/nexus2cee_t-mobile-logo.png" alt="Card image cap" style="height:60%; width:60%">
<div class="card-header">
  <h3 class="display-2"><span class="currency">$</span>29<span class="period">/month</span></h3>
</div>
<div class="card-block">
  <h4 class="card-title"> 
    Regular Plan
  </h4>
  <ul class="list-group">
    <li class="list-group-item">Unlimited calls and SMS in USA</li>
    <li class="list-group-item">Calls worldwide</li>
    <!-- <li class="list-group-item">Visual Composer Included</li> >
    <li class="list-group-item">4 GB LTE</li>
  </ul>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZHQSKNVN38E3S" class="btn btn-gradient mt-2">Choose Plan</a>
</div>
</div>
</div>

<!-- Table #3  >
<div class="col-xs-12 col-lg-4">
  <div class="card" style="width: 20rem;">
  <img class="card-img-top img-fluid mx-auto" src="../../../assets/attlogo.png"  alt="Card image cap" style="height:70%; width:70%">
<div class="card-header">
  <h3 class="display-2"><span class="currency">$</span>49<span class="period">/month</span></h3>
</div>
<div class="card-block">
  <h4 class="card-title"> 
    Premium Plan
  </h4>
  <ul class="list-group">
    <li class="list-group-item">Unlimited calls and SMS in USA</li>
    <li class="list-group-item">20 GB LTE</li>
  </ul>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=28MVM73JMTYPY" class="btn btn-gradient mt-2">Choose Plan</a>
</div>
</div>
</div>
</div>
</div>  
</div>


<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
    <div class="row justify-content-around text-center">
        <h1><span class="badge badge-secondary text-center"  data-container="body" data-toggle="popover" data-placement="top" 
          data-content=" The postpaid mobile phone is a mobile phone for which service is provided by a prior arrangement with a mobile network operator." 
          >postpaid</span></h1>
        <div class="card-deck mb-3 text-center">
<div class="col-xs-12 col-lg-4">  
  <div class="card" style="width: 20rem;">
  
  <img class="card-img-top img-fluid mx-auto" src="../../../assets/attlogo.png"  alt="Card image cap" style="height:70%; width:70%">
<div class="card-header">
  <h3 class="display-2"><span class="currency">$</span>43<span class="period">/month</span></h3>
</div>
<div class="card-block">
  <h4 class="card-title"> 
    Basic Plan
  </h4>
  <ul class="list-group">
    <li class="list-group-item">Unlimited calls and SMS in USA</li>
    <li class="list-group-item">22 GB LTE</li>
  
  </ul>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FYFC2JNXHULJJ" class="btn btn-gradient mt-2">Choose Plan</a>
</div>
</div>
</div>

<!-- Table #2  -
<div class="col-xs-12 col-lg-4">
  <div class="card" style="width: 20rem;">
  <img class="card-img-top img-fluid mx-auto" src="../../../assets/nexus2cee_t-mobile-logo.png" alt="Card image cap" style="height:60%; width:60%">
<div class="card-header">
  <h3 class="display-2"><span class="currency">$</span>35<span class="period">/month</span></h3>
</div>
<div class="card-block">
  <h4 class="card-title"> 
    Regular Plan
  </h4>
  <ul class="list-group">
    <li class="list-group-item">Unlimited calls and SMS in USA</li>
    <li class="list-group-item">Calls worldwide</li>
    <!-- <li class="list-group-item">Visual Composer Included</li> ->
    <li class="list-group-item">50 GB LTE</li>
  </ul>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZHQSKNVN38E3S" class="btn btn-gradient mt-2">Choose Plan</a>
</div>
</div>
</div>

<!-- Table #3  >
<div class="col-xs-12 col-lg-4">
  <div class="card" style="width: 20rem;">
  <img class="card-img-top img-fluid mx-auto" src="../../../assets/attlogo.png"  alt="Card image cap" style="height:70%; width:70%">
<div class="card-header">
  <h3 class="display-2"><span class="currency">$</span>27<span class="period">/15 days</span></h3>
</div>
<div class="card-block">
  <h4 class="card-title"> 
    Premium Plan
  </h4>
  <ul class="list-group">
    <li class="list-group-item">Unlimited calls and SMS in USA</li>
    <li class="list-group-item">50 GB LTE</li>
  </ul>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=28MVM73JMTYPY" class="btn btn-gradient mt-2">Choose Plan</a>
</div>
</div>
</div-->
</div>
</div>  

</div>