<br>
<br>
<div class="wraper">
  <div id="about" class="container text-center">

    <span class="aboutUS">ABOUT US</span>
    <div class="row">
      <div class="col text-left description">
        <br>
        <br>
        <br>

        SIMS 4 USA was developed by us based on our
        <br>
        own experiences and with a great deal of research
        <br>
        so that we can bring you the absolute best and
        <br>
        most reliable service at the most reasonable
        <br>
        prices.
        <br>
        <br>
        SIMS 4 USA is all about making your trip to the
        <br>
        U.S.A easier. You can rest assured, you have 24
        <br>
        HOUR COMMUNICATION for your entire stay
        <br>
        using local telecommunication services and
        <br>
        internet. Step off the plane, insert your sim and
        <br>
        you’re ready to go!
        <br>
        <br>
        We provide you with various communication and
        <br>
        internet solutions so that you can keep in touch
        <br>
        with friends, family, co-workers or group
        <br>
        members within the U.S.A. and also maintain
        <br>
        your contact with home and work at any time
        <br>
        and anywhere. No searching for WiFi - simply
        <br>
        pick up your phone and call or text or send an
        <br>
        email just like you would at home.
        <br>
        We give you a wide range of plans and all you
        <br>
        have to do is pick the one that suits you best.
        <br>
        Everything is
        prepaid and there are no hidden
        <br>
        charges and no nasty surprises. 100% peace of
        <br>
        mind!
        <br>
        <br>

        Lastly, but certainly not least, we provide you with
        <br>
        3 business day delivery to anywhere in the world
        <br>
        you tell us.
        You can receive the sim at home, in
        <br>
        the office or waiting for you at your destination in
        <br>
        the U.S.A. Your choice -
        just let us know.
        <br>
      </div>
      <div class="col">
        <img src="../../../assets/blueSim.png" class="reviewsBg ">
      </div>
    </div>
  </div>
</div>
