<br>
<br>

<div id="about" class="container text-center">
  <div class="row">
    <div class="col-sm-8 col-lg-12">
      <span class="aboutUS">ABOUT US</span>
      <br>
      <!-- <h4> We are company that provides cellular services within the United States of America.
        <br> Our uniqueness lies in the following:
        <br> The packages are very worthwhile
        <br> Final price without surprises and additions - everything is known in advance
        <br> Shipping to all over the world up to 3 business days</h4> -->
      <br>

      SIMS 4 USA was developed by us based on our own experiences and with a great deal of research so that we can bring
      you the absolute best and most reliable service at the most reasonable prices.
      SIMS 4 USA is all about making your trip to the U.S.A easier. You can rest assured, you have 24 HOUR COMMUNICATION
      for your entire stay using local telecommunication services and internet. Step off the plane, insert your sim and
      you’re ready to go!
      We provide you with various communication and internet solutions so that you can keep in touch with friends,
      family, co-workers or group members within the U.S.A. and also maintain your contact with home and work at any
      time and anywhere. No searching for WiFi - simply pick up your phone and call or text or send an email just like
      you would at home.
      We give you a wide range of plans and all you have to do is pick the one that suits you best. Everything is
      prepaid and there are no hidden charges and no nasty surprises. 100% peace of mind!
      Lastly, but certainly not least, we provide you with 3 business day delivery to anywhere in the world you tell us.
      You can receive the sim at home, in the office or waiting for you at your destination in the U.S.A. Your choice -
      just let us know.
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>
