.wraper {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.aboutUS {
  font-family: Montserrat;
  font-size: 2.8vw;
  font-weight: 200 !important;
  text-align: center;
  color: #3638d5;
  display: inline-block;
  border-bottom: 4px solid #ffc516;
  padding-bottom: 1vh;
  margin-bottom: 5%;
}

.description {
  padding-left: 10vw;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #212529;
}

.reviewsBg {
  width: 40vh;
  z-index: -1;
  position: relative;
  top: 7vh;
}

.box {
  position: relative;
}

.reviewHeader {
  left: 24%;
  top: 17%;
  position: absolute;
  font-family: Montserrat;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffc516;
}

.reviwer {
  font-weight: 500;
  position: relative;
  left: 25%;
  top: 26%;
  font-family: Montserrat;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.reviewPayload {
  font-weight: 100 !important;
  position: relative;
  width: 50%;
  left: 25%;
  top: 30%;
  font-family: Montserrat;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.reviewDate {
  position: relative;
  font-weight: 500;
  width: 20vw;
  left: 25%;
  top: 63%;
  font-family: Montserrat;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.carousel-caption {
  position: relative !important;
  left: auto;
  right: auto;
  top: -40vh;
  width: 100%;
}

.carousel-item {
  position: absolute;
}

.carousel-inner {
  position: unset;
}

.carousel-indicators > li {
  border-radius: 50%;
  width: 8px;
  height: 6px;
  background-color: white;
}

.carousel-indicators .active {
  background-color: #ffc516;
}
