@media (min-width: 350px) {
  .reviewsBg {
    width: 80%;
    z-index: -1;
    position: relative;
  }
  .carousel-caption {
    position: relative !important;
    left: auto;
    right: auto;
    top: -48vh;
    width: 100%;
  }
  .reviwer {
    font-weight: 500;
    position: relative;
    left: 16%;
    top: 26%;
    font-family: Montserrat;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .reviewPayload {
    font-weight: 100 !important;
    position: relative;
    width: 70%;
    left: 15%;
    top: 30%;
    font-family: Montserrat;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .reviewDate {
    position: absolute;
    font-weight: 500;
    left: 15%;
    font-family: Montserrat;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    bottom: 0;
  }
}
@media (min-width: 950px) {
  .reviewsBg {
    width: 30vh;
    z-index: -1;
    position: relative;
  }
  .carousel-caption {
    position: relative !important;
    left: auto;
    right: auto;
    top: -35vh;
    width: 100%;
  }
  .reviwer {
    font-weight: 500;
    position: relative;
    left: 25%;
    top: 26%;
    font-family: Montserrat;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .reviewPayload {
    font-weight: 100 !important;
    position: relative;
    width: 50%;
    left: 25%;
    top: 30%;
    font-family: Montserrat;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .reviewDate {
    position: relative;
    font-weight: 500;
    width: 20vw;
    left: 25%;
    top: 63%;
    font-family: Montserrat;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
}

.wraper {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.aboutUS {
  font-family: Montserrat;
  font-weight: 200 !important;
  text-align: center;
  color: #3638d5;
  display: inline-block;
  border-bottom: 4px solid #ffc516;
  padding-bottom: 1vh;
  margin-bottom: 5%;
}

.description {
  padding-left: 10vw;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #212529;
  display: inline-grid;
  margin-bottom: 10%;
}



.box {
  position: relative;
}

.reviewHeader {
  left: 27%;
  top: 10%;
  position: absolute;
  font-family: Montserrat;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 1;
  margin-bottom: 3%;
  letter-spacing: normal;
  text-align: left;
  color: #ffc516;
}





.carousel-item {
  position: absolute;
}

.carousel-inner {
  position: unset;
}

.carousel-indicators > li {
  border-radius: 50%;
  width: 8px;
  height: 6px;
  background-color: white;
}

.carousel-indicators .active {
  background-color: #ffc516;
}
