<div class="wraper">
  <div id="about" class="container text-center">
    <h1 class="aboutUS">ABOUT US</h1>
    <div class="row">
      <div class="col-lg text-left description">
        <span>
          SIMS 4 USA was developed by us based on our own experiences and with a
          great deal of research so that we can bring you the absolute best and
          most reliable service at the most reasonable prices.
        </span>
        <br />
        <span
          >SIMS 4 USA is all about making your trip to the U.S.A easier. You can
          rest assured, you have 24 HOUR COMMUNICATION for your entire stay
          using local telecommunication services and internet. Step off the
          plane, insert your sim and you’re ready to go! </span
        ><br /><span> </span
        ><span
          >We provide you with various communication and internet solutions so
          that you can keep in touch with friends, family, co-workers or group
          members within the U.S.A. and also maintain your contact with home and
          work at any time and anywhere. No searching for WiFi - simply pick up
          your phone and call or text or send an email just like you would at
          home.</span
        ><br /><span>
          We give you a wide range of plans and all you have to do is pick the
          one that suits you best. Everything is prepaid and there are no hidden
          charges and no nasty surprises. 100% peace of mind!</span
        >
        <br /><span
          >Lastly, but certainly not least, we provide you with 3 business day
          delivery to anywhere in the world you tell us. You can receive the sim
          at home, in the office or waiting for you at your destination in the
          U.S.A. Your choice - just let us know.</span
        >
      </div>
      <div class="col">
        <div class="box">
          <img src="../../../assets/blueSim.png" class="reviewsBg " />
          <h2 class="reviewHeader">Reviews</h2>
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              ></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item text-center active ">
                <div class="carousel-caption">
                  <p class="reviwer ">
                    {{
                      this.reviews[0].reviwerName +
                        ', ' +
                        this.reviews[0].reviwerCity
                    }}
                  </p>
                  <p class="reviewPayload">{{ this.reviews[0].payload }}</p>
                  <p class="reviewDate">{{ this.reviews[0].date }}</p>
                </div>
              </div>
              <div class="carousel-item text-center">
                <div class="carousel-caption">
                  <p class="reviwer">
                    {{
                      this.reviews[1].reviwerName +
                        ', ' +
                        this.reviews[1].reviwerCity
                    }}
                  </p>
                  <p class="reviewPayload">{{ this.reviews[1].payload }}</p>
                  <p class="reviewDate">{{ this.reviews[1].date }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
