.aboutUS {
    font-family: Montserrat;
    font-size: 3vw;
    font-weight: 100 !important;
    text-align: center;
    color: #3638d5;
    border-bottom: 4px solid #ffc516;
    padding-bottom: 1vh;

}
