<div class="wraper">
  <div id="about" class="container text-center">
    <h1 class="label">BLOG</h1>
    <div class="row">
      <div *ngFor="let currBlog of blogs" class="col-lg-4 col-xs-2">
        <div class="blog">
          <img class="image-blog" [src]="currBlog.imageSrc" alt="" />
          <h3 class=" label-blog">{{ currBlog.title }}</h3>
          <span class="text-blog">{{ currBlog.description }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <span class="comming-soon">Coming soon ...</span>
      </div>
    </div>
  </div>
</div>
