@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.carousel-inner img {
    width: 100%;
    margin:center;
    min-height:300px;
    max-height:500px;
}


@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}
body{
  
  
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  
}
