$fa-font-path: '~font-awesome/fonts';
@import './assets/fontawesome/scss/fontawesome.scss';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  line-height: 2;
}
@media (min-width: 350px) {
  body {
    line-height: 2;
  }
}
b {
  font-weight: 500 !important;
}
