@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  font-family: LiberationSansRegular;
  line-height: 2;
}
@media (min-width: 350px) {
  body{
    font-family: LiberationSansRegular;
      line-height: 2;
    }
  }
  b {
    font-weight: 500!important;
}

