.paymentBg {
  background-color: #3133d4 !important
}

.box {
  position: relative;
}

.paymantBg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.carrierPrice {
  letter-spacing: -0.88px;
  top: 17%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  position: absolute;
  font-family: Montserrat;
  left: 32%;
  font-weight: 300;
  font-size: 3vw;
  text-align: left;
  color: #3133d4;
}

.carrierDetiles {
  letter-spacing: -0.88px;
  top: 28%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  position: absolute;
  font-family: Montserrat;
  left: 32%;
  font-weight: 200;
  font-size: 1.9vw;
  text-align: left;
  color: #3133d4;
}

.myDatePicker {
  top: 50%;
  left: 34%;
  position: absolute;

}

.myDatePicker .form-control {
  height: 10px;
  background-color: #dcddde;
  padding: 43px;
  font-size: 1.8vw;
  /* border-radius: 1vw; */
}

.myDatePicker .btn {
  padding: 10px 20px;
  background-color: #dcddde;
}

.chooseDate {
  font-weight: 200;
  line-height: normal;
  align-content: center;
  font-size: 1.2vw;
  font-family: Montserrat;
  position: absolute;
  color: #333132;
  top: 82%;
}

.paypalLogo {
  width: 5.5%;
  position: absolute;
  right: 33%;
  top: 19%;
}

.submit {
  right: 28%;
  position: absolute;
  top: 83%;
  text-align: center;
  font-size: 1.5vw;
  background-color: white;
  border-radius: 4vw;
  width: 3vw;
  height: 3vw;
}
