.root {
  background-color: #3133d4 !important;
  position: relative;
  .paymantBg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .carrierdetails {
    letter-spacing: -0.88px;
    top: 28%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    position: absolute;
    font-family: Montserrat;
    left: 32%;
    font-weight: 200;
    font-size: 1.9vw;
    text-align: left;
    color: #3133d4;
  }
  .carrierPrice {
    letter-spacing: -0.88px;
    top: 17%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    position: absolute;
    font-family: Montserrat;
    left: 32%;
    font-weight: 300;
    font-size: 3vw;
    text-align: left;
    color: #3133d4;
  }

  .myDatePicker {
    top: 50%;
    left: 34%;
    position: absolute;
    max-height: 25%;
    min-width: 50%;
  }

  .myDatePicker .form-control {
    background-color: #dcddde;
    font-size: 1.8vw;
  }
  .btm-calendar {
  }
  .myDatePicker .btn {
    font-size: 1.8vw;

    background-color: #dcddde;
  }

  .chooseDate {
    font-weight: 200;
    line-height: normal;
    align-content: center;
    font-size: 1.2vw;
    font-family: Montserrat;
    position: absolute;
    color: #333132;
    top: 82%;
  }

  .paypalLogo {
    width: 5.5%;
    position: absolute;
    right: 33%;
    top: 19%;
  }

  .submit {
    right: 28%;
    position: absolute;
    top: 83%;
    text-align: center;
    font-size: 1.5vw;
    background-color: white;
    border-radius: 4vw;
    width: 3vw;
    height: 3vw;
    a{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
